﻿@model Automobile.ViewModels.AutoMotorsViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Autos", FormMethod.Post, new { onsubmit = "return validateFormAuto(this)" }))
{
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(a => a.Auto.Manufacturer)
            @Html.EditorFor(a => a.Auto.Manufacturer)
            @Html.ValidationMessageFor(a => a.Auto.Manufacturer, "", new { @class = "text-danger", id = "manufacturer1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(a => a.Auto.Model)
            @Html.EditorFor(a => a.Auto.Model)
            @Html.ValidationMessageFor(a => a.Auto.Model, "", new { @class = "text-danger", id = "model1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(a => a.Auto.Year)
            @Html.EditorFor(a => a.Auto.Year)
            @Html.ValidationMessageFor(a => a.Auto.Year, "", new { @class = "text-danger", id = "year1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(a => a.Auto.Cubic)
            @Html.EditorFor(a => a.Auto.Cubic)
            @Html.ValidationMessageFor(a => a.Auto.Cubic, "", new { @class = "text-danger", id = "cubic1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(a => a.Auto.Color)
            @Html.EditorFor(a => a.Auto.Color)
            @Html.ValidationMessageFor(a => a.Auto.Color, "", new { @class = "text-danger", id = "color1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(a => a.Motors.FirstOrDefault().Name)
            @Html.DropDownListFor(a => a.SelectedMotorId,
                new SelectList(Model.Motors, "Id", "Name", Model.SelectedMotorId))
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(a => a.Auto.Id)
            <input type="submit" value="Edit" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back", "Index")
</div>
