﻿@model IEnumerable<Automobile.Models.Auto>

@{
    ViewBag.Title = "Index";
}

<h2>Autos</h2>
<hr />
<table class="table table-striped" border="1">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Manufacturer</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Cubic</th>
            <th scope="col">Color</th>
            <th scope="col">Motor</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {

        <tr>
            <td>@Html.DisplayFor(Model => m.Manufacturer)</td>
            <td>@Html.DisplayFor(Model => m.Model)</td>
            <td>@Html.DisplayFor(Model => m.Year)</td>
            <td>@Html.DisplayFor(Model => m.Cubic)</td>
            <td>@Html.DisplayFor(Model => m.Color)</td>
            <td>@Html.DisplayFor(Model => m.Motor.Name)</td>
            <td>@Html.ActionLink("edit", "Edit", "Autos", new { id = m.Id }, null)</td>
            <td>@Html.ActionLink("delete", "Delete", new { id = m.Id })</td>
            <td>@Html.ActionLink("new", "Create")</td>
        </tr>
        }
    </tbody>
    </table>
<hr />