﻿@model Automobile.Models.Motor

@{
    ViewBag.Title = "Create";
}

<h2>Create motor</h2>
<hr />
@using (Html.BeginForm("Create", "Motors", FormMethod.Post, new { onsubmit = "return validateFormMotor(this)" }))
{
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", id = "name1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back", "Index")
</div>