﻿@model Automobile.Models.Motor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<hr />
@using (Html.BeginForm("Edit", "Motors", FormMethod.Post, new { onsubmit = "return validateFormMotor(this)" }))
    {
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger", id = "name1" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
    <div>
        @Html.ActionLink("Back", "Index")
    </div>
