﻿@model IEnumerable<Automobile.Models.Motor>

@{
    ViewBag.Title = "Index";
}

<h2>Motors</h2>
<hr/>
<table class="table table-striped" border="1">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
        <tr>
            <td>@Html.DisplayFor(Model => m.Name)</td>
            <td>@Html.ActionLink("edit", "Edit", "Motors", new { id = m.Id }, null)</td>
            <td>@Html.ActionLink("delete", "Delete", new { id = m.Id })</td>
            <td>@Html.ActionLink("new", "Create")</td>
        </tr>
        }
    </tbody>
</table>
